
body {
	background: url(../img/background.jpg);
	background-size: 100%;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer-copyright {
	background-color: pink;
}

.card-image {
	opacity: 0.3;
}

.card-image:hover {
	opacity: 1;
	transition: opacity 0.4s linear; 
}

.modal-content img {
	height: 100%;
}

.card-image img {
	height: 50%;
}